doctype html
html
  head
    title Just Dance Academy 
    block scripts
    block style      
  body
   nav#navbar 
      ul 
          div#logo
            img(src="/static/img (4).png")
            |JD
          li #[a(href="/") Home ]
          li #[a(href="/") About us ]
          li #[a(href="/") Services]
          li #[a(href="/") Achievements]
          li #[a(href="/contact") contact ]   
   block content
   section#footerSecton
    | Copyright © 2023 JustDance.com | All Rights Reserved      